@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 30% 99%;
    --foreground: 200 50% 20%;

    --card: 0 0% 100%;
    --card-foreground: 200 50% 20%;

    --popover: 0 0% 100%;
    --popover-foreground: 200 50% 20%;

    --primary: 200 35% 49%;
    --primary-foreground: 0 0% 100%;

    --secondary: 200 45% 21%;
    --secondary-foreground: 0 0% 100%;

    --muted: 350 33% 63%;
    --muted-foreground: 0 0% 100%;

    --accent: 350 65% 73%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 200 20% 90%;
    --input: 200 20% 90%;
    --ring: 200 50% 20%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 200 50% 20%;
    --foreground: 0 0% 100%;

    --card: 200 50% 20%;
    --card-foreground: 0 0% 100%;

    --popover: 200 50% 20%;
    --popover-foreground: 0 0% 100%;

    --primary: 200 35% 49%;
    --primary-foreground: 0 0% 100%;

    --secondary: 200 45% 21%;
    --secondary-foreground: 0 0% 100%;

    --muted: 350 33% 63%;
    --muted-foreground: 0 0% 100%;

    --accent: 350 65% 73%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 200 45% 21%;
    --input: 200 45% 21%;
    --ring: 200 35% 49%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}